<!DOCTYPE html>
{% extends 'base.html' %}
{% block main %}
{% load bootstrap %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mensalidades</title>
</head>
<body>
<h2>Lista Mensalidades</h2>
<div class="row">
    <div class="col-sm-6">
        <ul>
            {% for mov in movmen%}
                <li>
                    <a href="{% url 'core_movmen_update' mov.id%}">{{mov.dataPagamento}} - {{mov}} - {{mov.total}}</a>
                </li>
            {% endfor%}
        </ul>
    </div>
    <div class="col-sm-6">
        <form action="{% url 'core_movmen_novo'%} " method="POST">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button class="btn btn-primary type="submit"> Cadastrar </button>
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>