<!DOCTYPE html>
{% extends 'base.html' %}
{% block main %}
{% load bootstrap %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Veiculos</title>
</head>
<body>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'core_lista_veiculos' %}">Veículos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core_lista_movrot' %}">Mov. Rotativos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core_lista_movmen' %}">Mensalidades</a>
    </li>
</ul>
<div class="row">
    <div class="col-sm-8">
        <h1>Lista Veiculos</h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">id</th>
              <th scope="col">Placa</th>
              <th scope="col">Dono</th>
              <th scope="col">Modelo</th>
              <th scope="col">Cor</th>
            </tr>
          </thead>
          {% for veiculo in veiculos%}
          <tbody>
            <tr>
              <th scope="row">{{veiculo.id}}</th>
              <td><a href="{% url 'core_veiculo_update' veiculo.id%}">{{veiculo.placa}}</a></td>
              <td>{{veiculo.dono}}</td>
              <td>{{veiculo.modelo}}</td>
              <td>{{veiculo.cor}}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>

    </div>
    <div class="col-sm-4">
        <h2>Adicionar Veiculo</h2>
        <form action="{% url 'core_veiculo_novo'%} " method="POST">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button class="btn btn-primary type="submit"> Cadastrar </button>
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>