<!DOCTYPE html>
{% extends 'base.html' %}
{% block main %}
{% load bootstrap %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Veiculos</title>
</head>
<body>
<h2>Lista Veiculos</h2>
<div class="row">
    <div class="col-sm-6">
        <ul>
            {% for veiculo in veiculos%}
                <li>
                    <a href="{% url 'core_veiculo_update' veiculo.id%}">{{veiculo.placa}} - {{veiculo.modelo}}</a>
                </li>
            {% endfor%}
        </ul>
    </div>
    <div class="col-sm-6">
        <form action="{% url 'core_veiculo_novo'%} " method="POST">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button class="btn btn-primary type="submit"> Cadastrar </button>
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>