<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movimentos Rotativos</title>
</head>
<body>
<h2>Lista Movimentos Rotativos</h2>
<ul>
    {% for mov in movrot%}
        <li>
            <a href="{% url 'core_movrot_update' mov.id%}">{{mov.entrada}} - {{mov}} - {{mov.total}}</a>
        </li>
    {% endfor%}
</ul>

<form action="{% url 'core_movrot_novo'%} " method="POST">
    {% csrf_token %}
    {{form}}
    <button type="submit"> Cadastrar </button>
</form>

</body>
</html>