<!DOCTYPE html>
{% extends 'base.html' %}
{% block main %}
{% load bootstrap %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pessoas</title>
</head>
<body>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core_lista_veiculos' %}">Veículos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core_lista_movrot' %}">Mov. Rotativos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core_lista_movmen' %}">Mensalidades</a>
    </li>
</ul>
<div class="row">
    <div class="col-sm-8">
        <h2>Lista Pessoas</h2>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">id</th>
              <th scope="col">Nome</th>
              <th scope="col">Endereço</th>
              <th scope="col">Telefone</th>
            </tr>
          </thead>
          {% for pessoa in pessoas%}
          <tbody>
            <tr>
              <th scope="row">{{pessoa.id}}</th>
              <td><a href="{% url 'core_pessoa_update' pessoa.id%}">{{pessoa.nome}}</a></td>
              <td>{{pessoa.end}}</td>
              <td>{{pessoa.telefone}}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>


    </div>
    <div class="col-sm-4">
        <h2>Adicionar Pessoa</h2>
        <form action="{% url 'core_pessoa_novo'%} " method="POST">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button class="btn btn-primary" type="submit"> Cadastrar </button>
        </form>
    </div>
</div>

{% endblock %}
</body>
</html>