<!DOCTYPE html>
{% extends 'base.html' %}
{% block main %}
{% load bootstrap %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Movrot</title>
</head>
<body>
    <h2> Update MovRot: {{movrot}}</h2>

    <form action="{% url 'core_movrot_update' movrot.id%}" method="POST">
        {% csrf_token%}
        {{ form|bootstrap }}

        <button class="btn btn-success" type="submit"> Salvar </button>
    </form>

<a href="{% url 'core_movrot_delete' movrot.id%}" class="btn btn-danger" role="button" aria-pressed="true">Deletar</a>

{% endblock %}
</body>
</html>